.lineTeam{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input{
    width: 20px;
    height: 20px;
    background-color: white;
    border: none;

}

.lines{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.adjust{
    display: flex;
    width: 180px;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10px;
}