#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.table {
  background-color: rgb(97, 97, 97);
  border-radius: 10px;
  width: 550px;
  height: 430px;
}

.subTitle {
  padding: 20px;
  margin: 0;
}

.align-tables {
  display: flex;
  gap: 20px;
}

.group {
  font-weight: 900;
  font-size: 30px;
  display: flex;
  align-items: center;
  color: white;
}
.title{
    font-size: 3.2em;
    line-height: 1.1;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: white;
 }
