#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.table-teams {
  background-color: rgb(97, 97, 97);
  border-radius: 10px;
  width: 550px;
  height: 400px;
}

.title{
  padding: 20px;
  margin: 0;
}